@media screen and (max-width : 1290px){
    .container {
        max-width: 1054px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    br{
        display: none;
    }
    
    /* header-------------------------------------------------------------------------------------start */
    
    header .row {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
        padding-top: 45px;
    }
    
    header .left {
        width: fit-content;
    }
    
    header .middle ul {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        padding: 0;
        padding-left: 30px;
    }
    
    header .middle ul a {
        color: #717171;
        font-family: var(--p-family);
        font-weight: 400;
        font-size: 16px;
        text-wrap: nowrap;
    }
    
    header .right {
        display: flex;
        justify-content: end;
    }
    
    header .right a {
        background: var(--green-bg);
        font-family: var(--p-family);
        color: var(--m-clr);
        padding: 12px 14px 12px 14px;
        border-radius: 100px;
        font-weight: 400;
        border: 1px solid var(--green-bg);
    }
    
    /* header-------------------------------------------------------------------------------------end */
    /* home-------------------------------------------------------------------------------------start */
    
    section.home {
        padding-top: 100px;
    }
    
    section.home .home-content-container {
        max-width: 1024px;
        margin: 0 auto;
        text-align: center;
    }
    
    section.home .home-content-container h1 {
        font-size: 50px;
        font-family: var(--m-family);
        color: var(--f-clr);
        font-weight: 600;
        line-height: 67px;
        padding-bottom: 40px;
    }
    
    section.home .home-content-container a {
        display: inline-block;
        font-family: var(--p-family);
        color: var(--f-clr);
        font-size: 16px;
        font-weight: 400;
        padding: 12px 14px 12px 14px;
        border-radius: 100px;
        border: 1px solid var(--pink-bg);
    }
    
    section.home .home-content-container a:hover{
        border: 1px solid var(--green-bg);
        transition: .3s all ease-in;
    }
    
    section.home .row {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    
    section.home .row img {
        border-radius: 150px;
    }
    
    section.home .row img:nth-child(2) {
        transform: translateY(100px);
    
    }
    
    section.home .row img:nth-child(3) {
        transform: translateY(100px);
    }
    
    /* home-------------------------------------------------------------------------------------end */
    /* choose-------------------------------------------------------------------------------------start */
    
    section.choose {
        padding-top: 240px;
    }
    
    section.choose .section-heading h2 {
        text-align: center;
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
    }
    
    section.choose .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding-top: 60px;
    }
    
    section.choose .row .card {
        padding: 40px 10px 40px 20px;
        border: 1px solid #f05b7162;
        border-radius: 20px;
        background: var(--m-clr);
    }
    
    section.choose .row .card .card-icon {
        display: flex;
        align-items: center ;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background: var(--green-bg);
    }
    
    section.choose .row .card .card-icon:hover{
        background: var(--pink-bg);
    }
    
    section.choose .row .card .card-content h2 {
        padding-top: 60px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.choose .row .card .card-content p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 19px;
    }

    br{
        display: none;
    }
    
    /* home-------------------------------------------------------------------------------------end */
    /* choose-------------------------------------------------------------------------------------start */
    
    section.park {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    
    section.park .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    
    section.park .row .left img {
        border-radius: 260px;
        padding-left: 10px;
    }
    
    section.park .row .right {
        align-self: center;
    }
    
    section.park .row .right h2 {
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
        line-height: 62px;
    }
    
    section.park .row .right p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    /* park-------------------------------------------------------------------------------------end */
    /* program-------------------------------------------------------------------------------------start */
    
    section.program {
        background: linear-gradient(180deg, rgba(109, 207, 175, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    }
    
    section.program .section-heading h2 {
        text-align: center;
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
        padding-top: 100px;
    }
    
    section.program .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 60px;
        gap: 30px;
    }
    
    section.program .row .card {
        padding: 20px;
        border: 1px solid #6dcfae5b;
        border-radius: 20px;
    }
    
    section.program .row .card .card-img img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    section.program .row .card .card-content h2 {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.program .row .card .card-content p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px
    }
    
    /* program-------------------------------------------------------------------------------------end */
    /* experience-------------------------------------------------------------------------------------start */
    
    section.experience {
        padding-top: 140px;
    }
    
    section.experience .section-heading h2 {
        text-align: center;
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
    }
    
    section.experience .section-heading p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
        max-width: 804px;
        margin: 0 auto;
        text-align: center;
    }
    
    section.experience .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding-top: 60px;
    }
    
    section.experience .row .card {
        text-align: center;
    }
    
    section.experience .row .card .card-icon img {
        max-width: 100%;
    }
    
    section.experience .row .card .card-content h2 {
        padding-top: 30px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.experience .row .card .card-content p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    /* experience-------------------------------------------------------------------------------------end */
    /* community-------------------------------------------------------------------------------------start */
    
    section.community .row {
        margin-top: 140px;
        background: url(../img/community-bg.png);
        object-fit: cover;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        padding: 145px 0;
        border-radius: 20px;
    }
    
    section.community .row h2 {
        text-align: center;
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
        color: var(--m-clr);
    }
    
    section.community .row p {
        padding-top: 30px;
        color: var(--m-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
        text-align: center;
        max-width: 980px;
        display: block;
        margin: auto;
    }
    
    /* community-------------------------------------------------------------------------------------end */
    /* location-------------------------------------------------------------------------------------start */
    
    section.location {
        margin-top: 140px;
        background: linear-gradient(180deg, rgba(109, 207, 175, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        padding-top: 100px;
    }
    
    section.location .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    
    section.location .row .left {
        display: flex;
        justify-content: end;
    }
    
    section.location .row .left iframe {
        max-width: 520px;
        min-height: 534px;
        border-radius: 20px;
    }
    
    section.location .row .right h2 {
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
        color: var(--f-clr);
    }
    
    section.location .row .right .adress h2 {
        padding-top: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.location .row .right .adress p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    section.location .row .right .dates h2 {
        padding-top: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.location .row .right .dates p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    section.location .row .right .fees h2 {
        padding-top: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: var(--m-family);
    }
    
    section.location .row .right .fees p {
        padding-top: 20px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    /* location-------------------------------------------------------------------------------------end */
    /* fourstep-------------------------------------------------------------------------------------start */
    
    section.fourstep {
        padding-top: 140px;
    }
    
    section.fourstep .section-heading h2 {
        text-align: center;
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
    }
    
    section.fourstep .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 60px;
        text-align: center;
        gap: 30px;
    }
    
    section.fourstep .row .card{
        cursor: pointer;
    }
    
    section.fourstep .row .card .card-icon {
        height: 100px;
        width: 100px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--green-bg);
        text-align: center;
        padding: 35.5px 38.5px;
        margin: auto;
        border-radius: 100px;
    }
    
    section.fourstep .row .card:hover .card-icon{
        box-shadow: 0px 2px 40px 0px var(--pink-bg);
        transition: .5s ease-in-out all;
        background: var(--pink-bg);
    }
    
    section.fourstep .row .card .card-icon2{
        padding: 35.5px 36px;
    }
    
    section.fourstep .row .card:hover .card-icon2{
        transition: .5s ease-in-out all;
    }
    
    section.fourstep .row .card .card-icon3{
        padding: 35.5px;
    }
    
    section.fourstep .row .card .card-icon4{
        padding: 35.5px 35px;
    }
    
    section.fourstep .row .card .card-icon h2 {
        font-size: 22px;
        font-family: var(--m-family);
        color: var(--m-clr);
    }
    
    section.fourstep .row .card .card-content h2 {
        font-size: 18px;
        font-family: var(--m-family);
        padding-top: 40px;
    }
    
    section.fourstep .row .card .card-content p {
        padding-top: 16px;
        color: var(--p-clr);
        font-size: 18px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    /* fourstep-------------------------------------------------------------------------------------end */
    /* childs-------------------------------------------------------------------------------------start */
    
    section.childs {
        padding-top: 140px;
    }
    
    section.childs .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
    
    section.childs .row .left {
        align-self: center;
    }
    
    section.childs .row .left h2 {
        font-size: 45px;
        font-family: var(--m-family);
        font-weight: 600;
    }
    
    section.childs .row .left h3 {
        font-size: 20px;
        font-family: var(--p-family);
        font-weight: 500;
        padding-top: 30px;
    }
    
    section.childs .row .left p {
        padding-top: 40px;
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
    }
    
    section.childs .row .left a {
        background: var(--pink-bg);
        font-family: var(--p-family);
        color: var(--m-clr);
        padding: 12px 14px 12px 14px;
        border-radius: 100px;
        font-weight: 400;
        border: 1px solid var(--pink-bg);
        display: inline-block;
        margin-top: 50px;
    }
    
    section.childs .row .left a:hover{
        border: 1px solid var(--green-bg);
        background: var(--green-bg);
        transition: .3s ease-in all;
    }
    
    section.childs .row .right img {
        border-radius: 260px;
    }
    
    /* childs-------------------------------------------------------------------------------------end */
    /* clients-------------------------------------------------------------------------------------start */
    
     section.clients {
        margin-top: 140px;
        cursor: grab;
        width: 100%;
        padding: 0 15px;
    }
    
    
    section.clients .row{
        position: relative;
    }
    
    section.clients .section-heading h2 {
        text-align: center;
        font-size: 48px;
        font-family: var(--m-family);
        font-weight: 600;
    }
    
    section.clients .swiper {
        width: 100%;
        height: 100%;
    }
    
    section.clients .clients-swiper{
        display: flex;
        align-items: center;
    }
    
    section.clients .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    
    section.clients .slide1{
        border: 1px solid var(--green-bg);
        padding: 15px 20px;
        border-radius: 20px;
        margin-top: 60px;
        z-index: -99;
    }
    
    section.clients .swiper-button-next{
        color: var(--m-clr);
        background: var(--green-bg);    
        height: 40px;
        width: 40px;
        border-radius: 100px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(70%);
        right: -1.7%;
    }
    
    .swiper-button-prev::after{
        font-size: 16px;
        font-weight: 500;
    }
    
    .swiper-button-next::after{
        font-size: 16px;
        font-weight: 500;
    }
    
    .swiper-button-prev{
        color: var(--m-clr);
        background: var(--green-bg);    
        height: 40px;
        width: 40px;
        border-radius: 100px;
        cursor: pointer;
        position: absolute;
        left: -20px;
        right: 0px;
        bottom: 0;
        top: 50%;
        transform: translateY(70%);
    }
    
    section.clients .slide-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    section.clients .slide-top .left {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    section.clients .slide-top .left img{
        height: 50px;
        width: 50px;
    }
    
    section.clients .slide-top .left h2{
        font-size: 18px;
        font-family: var(--m-family);
    }
    
    section.clients .slide-top .right img{
        height: 30px;
        width: 30px;
    }
    
    section.clients .slide-middle{
        display: flex;
        justify-content: start;
        padding-top: 30px;
    }
    
    section.clients .slide-middle .rate-icons{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    section.clients .slide-middle .rate-icons i{
        font-size: 20px;
        color: rgb(255, 179, 0);
    }
    
    section.clients .slide-bottom{ 
        display: inline-block;
        text-align: left;
    }
    
    section.clients .slide-bottom p{
        color: var(--p-clr);
        font-size: 16px;
        font-family: var(--p-family);
        line-height: 24px;
        padding-top: 20px;
    }
    
    
    section.clients .slide-bottom .btn{
        display: inline-block;
        color: var(--f-clr);
        cursor: pointer;
        outline: none;
        font-size: 18px;
        font-weight: 500;
        font-family: var(--m-family);
        border-radius: 10px;
    }
    
    
    
    
    
    /* clients-------------------------------------------------------------------------------------end */
    /* footer-------------------------------------------------------------------------------------start */
    
    footer {
        margin-top: 140px;
        background: linear-gradient(360deg, rgba(109, 207, 175, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    }
    
    footer .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 120px;
        padding-bottom: 115px;
    }
    
    
    footer .row .left {
        width: fit-content;
    }
    
    footer .row .left .footer-icon {
        padding-top: 40px;
        display: flex;
        gap: 20px;
    }
    
    footer .row .left .footer-icon .insta {
        background: var(--green-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    
    footer .row .left .footer-icon .insta a{
        padding: 6px 9px;
    }
    
    footer .row .left .footer-icon .facebook {
        background: var(--green-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    
    footer .row .left .footer-icon .facebook a{
        padding: 6px 12px;
    }
    
    footer .row .left .footer-icon .linkedin {
        background: var(--green-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }
    
    footer .row .left .footer-icon .linkedin a{
        padding: 6px 9px;
    }
    
    footer .row .left .footer-icon a:hover{
        background-color: var(--pink-bg);
        border-radius: 100px;
        transition:  .3s ease-in all;
    }
    
    footer .row .middle{
        width: fit-content;
        padding-left: 100px;
    }
    
    footer .row .middle-2{
        width: fit-content;
        display: block;
        margin:0  auto ;
        padding: 0;
        /* padding-left: 55px; */
    }
    
    
    footer .row .middle h2{
        font-size: 18px;
        font-family: var(--m-family);
        color: var(--f-clr);
        text-wrap: nowrap;
    }
    
    footer .row .middle .footer-links{
        display: flex;
        flex-direction: column;
    }
    
    
    
    footer .row .middle .footer-links a{
        padding-top: 30px;
        font-size: 16px;
        color: var(--p-clr);
        font-family: var(--p-family);
        font-weight: 400;
    }
    
    footer .row .right {
        width: fit-content;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    footer .row .right h2 {
        display: flex;
        justify-content: start;
    }
    
    footer .row .right .footer-links h3{
        font-family: var(--p-family);
        color: var(--p-clr);
        font-size: 16px;
        font-weight: 500;
        padding-top: 20px;
    }
    
    footer .footer-bottom{
        border-top: 1px solid #6DCFAF;
        padding: 20px 0;
    }
    
    
    footer .footer-bottom p{
        text-align: center;
        font-family: var(--p-family);
        font-size: 16px;
        font-weight: 400;
    }    
}